In [13]:
# Evaluate Accuracy of Titatnic Data Set 
import numpy as np
import pandas as pd
import math as log2
from collections import Counter
from IPython.display import display
file_loc='/Users/spandan.chakraborty/Documents/UML/SpanUdacityML/titanic_survival_exploration/titanic_data.csv'
X=pd.read_csv(file_loc)
display(X.head(2))
# limit to numeric data
X=X._get_numeric_data()
Xsub=X.loc[:,['Age','Survived']]
Xsub.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

    Age  Survived
0  22.0         0
1  38.0         1

In [8]:
def ID3_entropies(data_df):
    def entropy_for_field(field):
        field_entry_count = len(field)
        field_counter = Counter(field)
        print('field_entry_count: ',field_entry_count, 'field_counter: ',field_counter)
    
    #blank Entropy Dict
    data_df_entropy = {}
    for field in data_df:
        entropy_for_field(field)

In [12]:
 ID3_entropies(Xsub)

('field_entry_count: ', 3, 'field_counter: ', Counter({'A': 1, 'e': 1, 'g': 1}))
('field_entry_count: ', 8, 'field_counter: ', Counter({'v': 2, 'e': 1, 'd': 1, 'i': 1, 'S': 1, 'r': 1, 'u': 1}))