In [51]:
import numpy as np
import pandas as pd

# load Dataset
X=pd.read_csv('titanic_data.csv')
print(X.dtypes)
X.head(1)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [12]:
# limit to Categorical data .. which are typically Sex, Embarked, Cabin (may be)
X=X.select_dtypes(include=[object])
X.head(1)

                      Name   Sex     Ticket Cabin Embarked
0  Braund, Mr. Owen Harris  male  A/5 21171   NaN        S

In [52]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
le=LabelEncoder() # initialize Label encoder
for feature in X:
    X[feature]=le.fit_transform(X[feature])
X.shape

(891, 12)

In [53]:
ohe=OneHotEncoder()
ohe.fit(X)
X=ohe.transform(X)
X.shape

(891, 3149)